.section{
    // padding: 4.5rem 0 1rem;
    
    &__title, &__title-center{
        font-size: var(--h2-font);
        color: var(--title-color);
        text-align: center;
        margin-bottom: var(--mb-1);
    }
}

.container{
    max-width: 1408px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);

}

 .grid{
 display:grid;
 }

.flex-col{
 display: flex;
 flex-direction: column;
}
.flex-row{
    display: grid;
 grid-template-columns: repeat(2,1fr);
   place-items: center;
   }
   .flex-row-1{
    display: flex;
   justify-content: space-around;

   }
//img
.img-color{
    fill: #FCD21C;
}

//input
input{
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 30px;
    margin: var(--mb-1) 0 var(--mb-2) 0;
    padding: 0 0 0 var(--mb-1) ;
    color: black;
}
textarea{
    display: block;
    color: black;
    outline: none;
    border: none;
    margin: var(--mb-1) 0 var(--mb-2) 0;
    padding:  var(--mb-1) ;
}
.dotte-box{
    position: absolute;
    background-color: var(--first-color);
    border-radius: 50%;
    border: 4px solid var(--title-color);
    border-style: dashed;
animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}