.home{
background-color: var(--first-color);

&__container{
    grid-template-rows: auto 1fr ;
  
}

&__title{
color: var(--container-color);
position: relative;
letter-spacing: 2px;
line-height: 2;
margin-bottom: var(--mb-1-5);
font-size: var(--biggest-font-size);
font-weight: var(--font-semi-bold);
span{
   color: var(--title-color);
 }
 span::after{
  content: "";
    position: absolute;
    left: 48px;
    width: 211px;
    bottom: 14px;
    height: 3px;
    background: var(--container-color);

}
}

&__depcription{
    margin-bottom: var(--mb-2);
    font-weight: var(--font-semi-bold);
   font-size: var(--normal-font-size);
}

&__button,&__button-1{
     border-radius: 5px;
     color: var(--title-color);
     width: 30vh;
}
&__button{
    background-color: var(--container-color);
}
.owl-theme .owl-controls .owl-page{
   display: block;
   background-color: var(--container-color);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}
.owl-theme .owl-controls .owl-page span{
  background-color: var(--title-color);

}
.owl-theme .owl-controls {
  position: absolute !important;
  top: 350px;
  right: 50px;
}
}

