
//text-configration 
.black-text{
    color: var(--title-color);
}
.white{
    color: var(--container-color);
}

.sub-heading{
    letter-spacing: 1px;
    color: var(--container-color);
    font-size:var(--small-big-font-size);
} 
.sub-heading-B{
    letter-spacing: 1px;
    line-height: 1;
    color: var(--first-color);
    font-size:var(--small-big-font-size);
}

.h2-heading{
    letter-spacing: 1px;
    color: var(--first-color);
    font-size:var(--h2-font-size);
}
.h2-heading-B{
    letter-spacing: 1px;
    color: var(--title-color);
    font-size:var(--h2-font-size);
    
}
.phragraph{
    font-size: var(--normal-font-size);
   letter-spacing: 2px;
}